.loanbox
{
    border: 1px solid black; 
    padding:10px;
    margin-top: 20px;
    margin-left:400px;
    width:800px;
}
.lformhead
{
     text-align: center;
     color:#158fad;
}
.linebox
{
    width: 400px;
    border:0.5px solid grey;
}
/* className="linebox" */
.loantab
{
  padding:5px;
  margin-left:20px;
}
.sline
{
    border:0.5px solid grey;
}
.paracolor
{
    font-weight: bold;
    color:#158fad
}
.loansubmit
{
  background-color: #158fad;
  color:white;
  margin-left: 250px;
}
.loansubmit1
{
  background-color: #158fad;
  color:white;
  margin-left: 20px;
}
